.head-component-wrapper {
  background-image: url("../images/traffic_frontpage-B-LIG.jpg");
  background-size: cover;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.main-title-wrapper {
  text-align: center;
}

.main-title-wrapper h1 {
  color: white;
  font-size: 54px;
}

.second-title-wrapper {
  text-align: center;
  margin-top: 5%;
}

.second-title-wrapper p {
  color: white;
  font-size: 20px;
}

.nav-bar {
  font: menu;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 90px;
  /* background-color: white; */
}

.nav-list {
  padding-right: 26px;
}

.nav-list li {
  padding: 22px;
  list-style: none;
  display: inline;
  font-size: 19px;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

.company-logo {
  font-size: 26px;
  padding: 25px;
  padding-left: 41px;
}

.service-component-wrapper {
  font-family: sans-serif;
  padding: 4% 0;
  height: 430px;
  background-color: rgb(246, 253, 255);
}

.service-component {
  text-align: center;
}

.service-component h1 {
  width: 88%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 2% auto;
  font-size: 2.3rem;
}

.service-component span {
  background: rgb(246, 253, 255);
  padding: 0 10px;
}

.service-img-wrapper {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.service-img {
  margin: auto;
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-wrapper {
  margin-top: 22px;
}
