.head-component-wrapper {
  background-image: url("../images/car-repair-362150_1920.jpg");
  background-size: cover;
  height: 660px;
}

.nav-bar {
  font: menu;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 90px;
  /* background-color: white; */
}

.nav-list li {
  padding: 22px;
  list-style: none;
  display: inline;
  font-size: 22px;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

.company-logo {
  font-size: 24px;
  padding: 25px;
}

.service-component-wrapper {
  margin: 4% 0;
}

.service-component {
  text-align: center;
}

.service-component h1 {
  font-size: 2.3rem;
}

.service-img-wrapper {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.service-img {
  margin: auto;
}
