.head-component-wrapper {
  background-image: url("../images/traffic_frontpage-B-LIG.jpg");
  background-size: cover;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.main-title-wrapper {
  text-align: center;
}

.main-title-wrapper h1 {
  color: white;
  font-size: 54px;
}

.second-title-wrapper {
  text-align: center;
  margin-top: 5%;
}

.second-title-wrapper p {
  color: white;
  font-size: 20px;
}

.nav-bar {
  font: menu;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 90px;
  /* background-color: white; */
}

.nav-list {
  padding-right: 26px;
  margin-bottom: unset;
}

.nav-list li {
  padding: 22px;
  list-style: none;
  display: inline;
  font-size: 19px;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #031458;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.company-logo {
  width: 30%;
  font-size: 26px;
  padding: 25px;
  padding-left: 41px;
}

.company-logo h1 {
  font-weight: 600;
}

.main-logo {
  width: 36%;
}

.service-component-wrapper {
  font-family: sans-serif;
  padding: 4% 0;
  height: 430px;
  background-color: rgb(246, 253, 255);
}

.service-component {
  text-align: center;
}

.service-component h1 {
  width: 88%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 2% auto;
  font-size: 2.3rem;
}

.service-component span {
  background: rgb(246, 253, 255);
  padding: 0 10px;
}

.service-img-wrapper {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.service-img {
  margin: auto;
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-wrapper {
  margin-top: 22px;
}

.two-button-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 550px;
}

.toiawase-button {
  height: 70px;
  background-color: rgba(156, 20, 12, 0.71);
  border: none;
  padding: 10px;
  margin: 1%;
  border-radius: 12px;
}

.toiawase-button a {
  color: white;
}

/*  Business Hour Sector */

.business-hour-component-wrapper {
  padding: 3%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

.hours {
  font-family: sans-serif;
  font-size: 21px;
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.business-hour {
  margin-left: 20%;
  margin-bottom: 4%;
}

.location {
  font-family: sans-serif;
  font-size: 21px;
  /* width: 43%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 6%;
}

.contact-title {
  /* font-size: 32px; */
  margin-left: 24%;
  margin-bottom: 4%;
}

/*                 FOOTER                   */

.black-foot {
  background-color: #031458;
  padding: 56px;
  height: 300px;
}

.footer-wrapper {
  color: #ffffff;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.component-wrapper-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.component-wrapper-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  /* margin-top: 5px; */
  font-size: 18px;
  font-family: sans-serif;
}

.component-wrapper-left h1 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 24px;
}

li i {
  color: white;
}

.icon-wrapper ul {
  display: flex;
}

.icon {
  margin: 3px;
}

.icon :hover {
  color: rgb(107, 195, 247);
}

.footer-contents {
  font-size: 16px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.64);
}

.footer-contents :hover {
  color: white;
}

.link-white {
  text-decoration: none;
  color: white;
}

.logo-image {
  width: 32%;
}

.location p {
  margin-bottom: unset;
}

/*               BANNKIN             */

.bannkin-head-component-wrapper {
  background-image: url("../images/black-and-white-car-engine-chrome-190574.jpg");
  background-size: cover;
  height: 300px;
}

.bannkin-service-wrapper {
  font-family: sans-serif;
  padding: 4% 0;
  /* height: 430px; */
  background-color: rgb(246, 253, 255);
}

.service-text-wrapper {
  font-size: 21px;
  line-height: 1.6;
  width: 72%;
  margin: 5% auto;
  text-align: center;
}

/*   bURGER menu */

/* .topnav {
  overflow: hidden;
  background-color: #333;
} */

/* .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* .active {
  background-color: #4CAF50;
  color: white;
} */

.nav-bar .icon {
  display: none;
}

@media screen and (max-width: 425px) {
  .nav-bar a {
    display: none;
  }

  .nav-bar a.icon {
    display: block;
    position: fixed;
    right: 8%;
    top: 8%;
  }

  .service-img-wrapper {
    flex-wrap: wrap;
  }

  .service-component-wrapper {
    height: unset;
  }
}

@media screen and (max-width: 425px) {
  .nav-bar.responsive {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.66);
    height: 250px;
    display: flex;
    justify-content: flex-end;
  }

  .nav-bar.responsive .icon {
    position: fixed;
    right: 8%;
    top: 4%;
  }

  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}